# dependencies
node_modules/
.pnpm-store/

# build output
dist/
*.tsbuildinfo

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# env
.env
.env.local
.env.*.local

# editor
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
.DS_Store

# test / coverage
coverage/
.nyc_output/
